<!-- Main Menu Header -->
<header class="glass-header">
    <div class="header-container">
        <!-- Main Navigation -->
        <nav class="main-nav">
            <ul>
                <div class="nav-left">
                    <li class="has-submenu"><a href="#discover" data-i18n="navigation.discover"
                            data-submenu="discover">Discover</a></li>
                    <li class="has-submenu"><a href="#blog" data-i18n="navigation.blog" data-submenu="blog">Blog</a>
                    </li>
                </div>
                <li class="logo-container">
                    <a href="#home">
                        <img src="../public/assets/images/logo/AZ-light.png" alt="AZ Arch Logo"
                            class="nav-logo light-logo">
                        <img src="../public/assets/images/logo/AZ-dark.png" alt="AZ Arch Logo"
                            class="nav-logo dark-logo">
                    </a>
                </li>
                <div class="nav-right">
                    <li class="has-submenu"><a href="#joinus" data-i18n="navigation.joinus" data-submenu="joinus">Join
                            Us</a></li>
                    <li class="has-submenu"><a href="#aboutus" data-i18n="navigation.aboutus"
                            data-submenu="aboutus">About
                            Us</a></li>
                </div>
            </ul>
        </nav>
    </div>
</header>