<!-- Main Menu Header -->
<header class="glass-header">
    <div class="header-container">
        <!-- Main Navigation -->
        <nav class="main-nav">
            <ul>
                <li><a href="#discover" data-i18n="navigation.discover">Discover</a></li>
                <li><a href="#portfolio" data-i18n="navigation.portfolio">Portfolio</a></li>
                <li class="logo-container">
                    <a href="#home">
                        <img src="../public/assets/images/logo/AZ-dark.png" alt="AZ Solutions Logo"
                            class="nav-logo light-logo">
                        <img src="../public/assets/images/logo/AZ-light.png" alt="AZ Solutions Logo"
                            class="nav-logo dark-logo">
                    </a>
                </li>
                <li><a href="#mag" data-i18n="navigation.mag">Mag</a></li>
                <li><a href="#aboutus" data-i18n="navigation.aboutus">About Us</a></li>
            </ul>
        </nav>
    </div>
</header>