<div id="sub-menu-discover-content">
  <header class="sub-menu-header">
    <div class="header-container">
      <nav class="section-nav">
        <ul>
          <li><a href="#projects" data-section="discover" data-i18n="submenus.discover.projects">Projects</a></li>
          <li><a href="#community" data-section="discover" data-i18n="submenus.discover.community">Community</a></li>
          <li><a href="#interviews" data-section="discover" data-i18n="submenus.discover.interviews">Interviews</a></li>
          <li><a href="#events" data-section="discover" data-i18n="submenus.discover.events">Events</a></li>
          <li><a href="#resources" data-section="discover" data-i18n="submenus.discover.resources">Resources</a></li>
        </ul>
      </nav>
    </div>
  </header>
</div>

<div id="sub-menu-portfolio-content">
  <header class="sub-menu-header">
    <div class="header-container">
      <nav class="section-nav">
        <ul>
          <li><a href="#education" data-section="portfolio" data-i18n="submenus.portfolio.education">Education</a></li>
          <li><a href="#experience" data-section="portfolio" data-i18n="submenus.portfolio.experience">Experience</a>
          </li>
          <li><a href="#skills" data-section="portfolio" data-i18n="submenus.portfolio.skills">Skills</a></li>
          <li><a href="#projects" data-section="portfolio" data-i18n="submenus.portfolio.projects">Projects</a></li>
        </ul>
      </nav>
    </div>
  </header>
</div>

<div id="sub-menu-mag-content">
  <header class="sub-menu-header">
    <div class="header-container">
      <nav class="section-nav">
        <ul>
          <li><a href="#articles" data-section="mag" data-i18n="submenus.mag.articles">Articles</a></li>
          <li><a href="#az10" data-section="mag" data-i18n="submenus.mag.az10">AZ10 (Review | Rate)</a></li>
        </ul>
      </nav>
    </div>
  </header>
</div>

<div id="sub-menu-aboutus-content">
  <header class="sub-menu-header">
    <div class="header-container">
      <nav class="section-nav">
        <ul>
          <li><a href="#vision" data-section="aboutus" data-i18n="submenus.aboutus.vision">Vision & Values</a></li>
          <li><a href="#team" data-section="aboutus" data-i18n="submenus.aboutus.team">Team</a></li>
          <li><a href="#contact" data-section="aboutus" data-i18n="submenus.aboutus.contact">Contact</a></li>
        </ul>
      </nav>
    </div>
  </header>
</div>