<div id="submenu-about-content">
  <header class="submenu-header">
      <div class="header-container">
          <nav class="timeline-nav">
              <ul>
                  <li><a href="#vision" data-section="about">Vision & Values</a></li>
                  <li><a href="#team" data-section="about">Team</a></li>
                  <li><a href="#timeline" data-section="about">Timeline</a></li>
                  <li><a href="#tools" data-section="about">Tools & Technologies</a></li>
              </ul>
          </nav>
      </div>
  </header>
</div>

<div id="submenu-contact-content">
  <header class="submenu-header">
      <div class="header-container">
          <nav class="timeline-nav">
              <ul>
                  <li><a href="#email" data-section="contact">Email</a></li>
                  <li><a href="#social" data-section="contact">Social Media</a></li>
                  <li><a href="#collaborations" data-section="contact">Collaborations</a></li>
                  <li><a href="#join" data-section="contact">Join Us</a></li>
              </ul>
          </nav>
      </div>
  </header>
</div>

<div id="submenu-portfolio-content">
  <header class="submenu-header">
    <div class="header-container">
      <nav class="timeline-nav">
        <ul>
          <li><a href="#education" data-section="portfolio">Education</a></li>
          <li><a href="#experience" data-section="portfolio">Experience</a></li>
          <li><a href="#skills" data-section="portfolio">Skills</a></li>
          <li><a href="#selected-projects" data-section="portfolio">Projects</a></li>
        </ul>
      </nav>
    </div>
  </header> 
</div>

<div id="submenu-projects-content">
  <header class="submenu-header">
      <div class="header-container">
          <nav class="timeline-nav">
              <ul>
                  <li><a href="#residential" data-section="projects">Residential</a></li>
                  <li><a href="#commercial" data-section="projects">Commercial</a></li>
                  <li><a href="#interior" data-section="projects">Interior</a></li>
                  <li><a href="#installations" data-section="projects">Installations</a></li>
                  <li><a href="#details" data-section="projects">Details</a></li>
              </ul>
          </nav>
      </div>
  </header>
</div> 